<div class='container'>
  <figure>
    <div class='sad-mac'></div>
    <figcaption>
      <span class='sr-text'>Error 500: Internal Server Error!</span>
      <span class='e'></span>
      <span class='r'></span>
      <span class='r'></span>
      <span class='o'></span>
      <span class='r'></span>
      <span class='_5'></span>
      <span class='_0'></span>
      <span class='_0'></span>
      <span class='s'></span>
      <span class='e'></span>
      <span class='r'></span>
      <span class='v'></span>
      <span class='r'></span>
      <span class='e'></span>
      <span class='r'></span>
      <span class='r'></span>
      <span class='o'></span>
      <span class='r'></span>
    </figcaption>
  </figure>
</div>