<div class='container'>
  <div class='wrapper'>
    <div class='box'>
      <h1 id='error-500'>ERROR 500</h1>
      <div class='mt-1'>
        <img
          src='https://www.dropbox.com/s/xq0841cp3icnuqd/flame.png?raw=1'
          alt='500-error'
        />
        <p id='error-500-msg' class='mt-1'>Sorry, it's me, not you.</p>
        <p><a id="home-link" href='/'>Let me try again!</a></p>
      </div>

    </div>
  </div>
</div>